*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(var(--column,10),35px);
  grid-template-rows: repeat(var(--row,10),35px);
  gap: 2px; 
  font-weight: bold;
  margin-top: 20px;
  user-select: none;
}

.box{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

h1{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.selected{
  background-color: lightblue;
}